@{
    ViewBag.Title = "Let's get to know each other";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>603.738.5695</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>603.738.5695</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Engineering:</span>
        <span><a href="mailto:benjamin.schaefer@gmail.com">ben.schaefer@TomorrowTodayEngineering.com</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:benjamin.schaefer@gmail.com">ben.schaefer@TomorrowTodayMarketing.com</a></span>
    </p>
    <p>
        <span class="label">Sales:</span>
        <span><a href="mailto:benjamin.schaefer@gmail.com">ben.schaefer@TomorrowTodaySales.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        795 Elm Street<br />
        Manchester, NH 03101
    </p>
</section>